.bundle
db/*.sqlite3
**/*.log
tmp/**/*
public/*.zip
.idea/*
coverage/
coverage.data
*~
.DS_Store
report.html
results.xml
config/database.yml
.vagrant
*.box
**/**/.vagrant
doc/**/*
.teamcity/*
log/*
doc/
